.searchWrap {
  padding: 20px;
  margin-bottom: 20px;
  background-color: burlywood;
  text-align: center;
  display: flex;
  justify-content: center;
}

.searchForm {
  position: relative;
  width: 400px;
}

.searchInput {
  width: 100%;
  padding: 10px 10px 10px 90px; /* Додаємо місце для кнопки */
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 300ms ease;
}

.searchInput:focus {
  border: 1px solid #007bff;
}

.searchBtn {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  transition: all 300ms ease;
}

.searchBtn:hover {
  background-color: #1d65ec;
}
