.loadBtn {
  width: 200px;
  height: 40px;
  background-color: black;
  border: none;
  color: aliceblue;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms ease;
}
.loadBtn:hover {
  background-color: rgb(32, 28, 28);
}

.buttonBox {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
